    *{
        font-family: Arial, sans-serif;
        
    }
    body{
        overflow-x: hidden;
    }
body>header{
    background-color: white;
     position: fixed;
     top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

/* HEAD STYLINGS */

body{
    height: 500vh;
    margin-left: 0px;
}


    form{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
       
}
    
    input{
        width: 300px;
        border: none;
    }
    strong{
        font-family: cursive;
        color: rgba(45, 0, 42, 0.815);
        font-size:xx-large;
        
    }

.search{
    border: 1px solid black;
    width: 300px;
    display:flex;
}

button{
    border: none;
    cursor: pointer;

}
.profile{
    width: 50px;
     
   
}
.profile>a{
    width:100px;
    margin-top: -0.5%;
    margin-left: -2%;
    border: none;
    display: flex; 
}

.cart>input{
    width: 100px;
}


div>ul{
    display: flex;
    list-style-type: none;
     justify-content: space-evenly;
     margin-left: 0%;
     margin-right: 0%;
     cursor: pointer;
    
}

/* HEAD STYLINGS ENDS */

/* MAIN BODY STYLES */
div>img{
    margin-top: 105px;
    height: 450px;
}

.box-return{
 border: 1px solid violet;
 display: flex;
margin-right: -7.5%;
height: 30px;
align-items: center;

}

.cards :hover{
     transform: scale(1.15); /* to Pop up images */
}
.cards{
    justify-content: center;
    text-align: center;
    margin-top:-2%;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.cards>img{
    height: 150px;
    width: 150px;
}

.gold{
    height: 600px;
    width: 100%;
    position: relative;
    margin-top: 5%;
    
}
    
.gold img{
    width: 1700px;
    height: 500px;
    justify-items: center;
    margin: 0px;
    right: 0%; 
}
 .gold-cards :hover{
     transform: scale(1.15); /* to Pop up images */
}

a{
  text-decoration: none;
    border: 1px solid black;
       position:absolute;
}

.image-container{
    position: relative;
    border: 2px solid black;
    display: inline-block;
  }


.txt{

    position: absolute;
    top: 50%;
    right: 300px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    color: white;
}

.txt p{
  
    margin: 0;
    margin-bottom: 10px;
}

.image-container button {
    position: absolute;
    transform: translate(30%,50%);/* button alignment */
    left: 0%;
    padding: 10px 20px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
 .gold .gold-images{
    display: grid;
  grid-template-columns: repeat(2, 200px); /* 2 columns */
  grid-template-rows: repeat(2, 200px);    /* 2 rows */
  gap: 10%;
    position: absolute;
     transform: translate(5%,10%);
     top: 0%;
     right:6%
 }
 .gold{
    position: relative;
    cursor: pointer;
    
  }
  .gold button{
    position: absolute;
    transform: translate(100%,950%);/* button alignment */
    left: 10%;
    top: 0;
    padding: 10px 20px;
    border: 2px solid gold;
    color: gold;
    background-color: rgba(210, 105, 30, 0.575);
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
 .gold-images img{
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
 }
 .gold-cards img{ 
    display: flex;
 }

 /* Original Brands Section */
 #og-div{
    position: relative;
    
 }
 #og-brands h2{
     margin-left: 5%;
    font-style:arial;
    font-weight: 100;
}

    #og-brands i{
        color:white;
        background-color: rgb(93, 31, 181);
        font-size: 25px;
        margin-left: 10px;
    }


.og-brands-cards{
    display: flex;
    gap: 5%;
    margin-left: 5%;
    overflow-x: hidden;
}

.og-brands-cards img{
    display: flex;
    height: 250px;
    width: 200px;
    
}

/* Arrow */

.arrow img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

#arrow1 {
  left: 10px;
  transform: rotateY(0deg) translateY(0%);
}

#arrow2 {
  transform: rotateY(180deg)
}

/* Mini styling */
#brands-container {
    position: relative;
    display: flex;
    gap: 50px;
    margin-top: 50px;
    animation: 10s ease-in-out infinite;
    overflow-x:hidden ;
    
}

 .mini{
            display: flex;
            /* position: absolute; */
           gap: 50px;
           margin-top: 10px;
         animation: 10s ease-in-out infinite;
           background-color: rgb(191, 157, 222);
         
          

  }
        .mini img{
            height: 100px;
            width:200px;
            row-gap: 40px;
            margin-left: 10px;
            border: 0px;
            padding: 30px;
            align-items: center;
            border-radius: 40px;
             animation: 10s ease-in-out infinite;
            
        }
/* New */
#trends-container {
    display: flex;
    margin-top: 50px;
    height: 100%;
     width: 110%;
    background-image: url("https://www.desiindian.in/wp-content/uploads/2024/04/meesho.jpg");
}

.mini-trends {
    display: flex;
     position: absolute;
    top: 250%;
    right: 0%;
   

  
}
.mini-trends img {
    height:150px;
    width: 100px;
      opacity: 0.5;
        }

 .mini-trends .active {
      opacity: 1;}

.mini-trends img:hover {
      opacity: 1;
      transform: scale(1.2);
      transition: 0.3s ease;
    }

 /* Main body styling ends here */
 
/* Footer section */
.footer{
 margin-top: 5%;
 border: 2px solid rgb(209, 208, 208);
 width: 90%;
 margin-left: 5%;
 /* margin-right: 100%; */
 
}
  .footer p{
     padding-left: 5%;
     padding-right: 5%;
    
   
  }
.footer nav{
    
    border: 2px solid rgb(209, 208, 208);
    padding-left: 4%;
   
}

.last{
    padding-left: 5%;
    padding-right: 5%;
      justify-items: left;
}

.purple{
       padding-left: 3%;
    padding-right: 5%;
    color: rgb(156, 23, 156);
    justify-items: left;
}
.black{
margin-left: 0%;
justify-items: left;
}
.black h4{
    color: black;
    margin-left: 0%;
      justify-items: left;
   
}